
.cart-item {
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
    max-height: 25vh;
    overflow: scroll;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    justify-content: center; 
}

.button--close {
    padding: 0.5rem 2rem;
    margin-right: 2rem;
}

.button-order {
    padding: 0.5rem 2rem;
}

@media  screen and (min-width: 768px) {
    .buttons {
        justify-content: flex-end; 
    }
    
    .button--close {
        padding: 0.8rem 3rem;
        margin-right: 1rem;
    }
    
    .button-order {
        padding: 0.8rem 3rem;
    }
}
