
.button {
    background: none;
    border: 1px solid #ccc;
    padding: 0.4rem 2.5rem;
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: #0BAC5E;
    transform: scale(1.05);
    border-color: #0BAC5E;
}

